* {
    box-sizing: border-box;
    margin: 0;
}

header {
    text-align: center;
    border: 1px solid black;
}


img {
    max-width: 100%;

}

section {
    display: flex;

}

article {
    max-width: 50%;
    flex-grow: 400px;
    flex-basis: 1;
    border: 1px solid black;
}

footer {
    text-align: center;
}

p {
    margin: 10px;
}

h2 {
    margin: 10px;
}




h3 {
    margin: 10px;
}


.box {
    transition-duration: 0.8s;
}
