   * {
       margin: 0;

   }


   /*LOGO OG BILLEDE*/


   #logo {
       margin: 15px;
       float: left;
       width: 150px;
       height: auto;
       position: absolute;

   }

   img {
       width: 100%;
       height: auto;

   }

   /*SPLASHBILLEDE*/

   #splash {
       margin: 0;
       width: 100vw;
       height: 60vh;
       background-image: url(unsplash.jpg);
       background-size: cover;
       background-position: 43% 57%;

   }



   /*SØGEFFELT*/

   .topnav {
       position: absolute;
       right: 5vw;
       top: 3vw;



   }

   #icon img {
       width: 20px;
       position: absolute;
       right: 3.5vw;
       top: 3vw;
       cursor: pointer;

   }





   /*NAVIGATION*/

   #navbar ul li {
       display: inline-block;
       padding-right: 10px;
       padding-left: 10px;
       text-align: center;
       border-left: 0.1px solid black;
   }

   #navbar ul li:first-child {
       border-left: none;
   }

   #navbar ul li a {
       text-decoration: none;
       color: black;
       font-size: 18px;
   }



   #menu a:hover {
       color: #bcbcbc
   }

   #menuknap {
       display: inline-block;
   }

   #menu {
       list-style-type: none;
       transition: transform 0.3s;
       transform-origin: top left;
       font-family: 'Open sans', sans-serif;
       font-weight: lighter;
       padding: 0;
       margin: 0;
       text-align: center;
       padding-top: 15px;
       min-height: 120px;
       /*       visibility: hidden;*/
   }


   .hidden {
       transform: translateX(-100%);
       display: none;
   }

   .hidden2 {
       display: none;
   }

   /*LISTVIEW*/

   #liste {
       max-width: 1100px;
       margin: 0 auto;
       display: grid;
       grid-gap: 20px;
       padding: 30px;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       cursor: pointer;




   }

   .musik_view {
       padding: 10px;
       background: white;
       border: solid;
       border-style: solid;
   }


   /*TEKST OG OVERSKRIFTER*/

   h1 {
       text-align: center;
       font-family: 'american_captainregular';
       margin: 10px;
       font-size: 45px;



   }


   h2 {
       font-family: 'Quicksand', sans-serif;
       font-size: 16px;
       margin: 10px;


   }

   p {
       font-family: sans-serif;
       font-size: 12px;
       line-height: 1.8rem;
       margin: 10px;
   }

   .album {
       font-weight: 600;
   }

   .titel {
       font-weight: 600;
   }

   .kunstner {
       font-weight: 600;
   }

   .genre {
       font-weight: 600;
   }

   .dato {
       font-weight: 600;
   }

   .varighed {
       font-weight: 600;
   }


   /*KNAPPER*/

   button {
       display: inline-block;
       padding: 10px;
       margin: 10px;
       font-size: 20px;
       font-weight: 600;
       cursor: pointer;
       text-align: center;
       text-decoration: none;
       outline: none;
       color: white;
       border: solid;
       box-shadow: 0 9px black;
       background-color: white;
       color: black;
   }

   button:active {
       box-shadow: 0 5px #666;
       transform: translateY(4px);
   }


   /*    STYLE POP OP*/
   #popop {
       position: fixed;
       left: 0;
       top: 0;
       width: 100vw;
       height: 100vh;
       background-color: rgba(0, 0, 0, .8);
       cursor: pointer;
       display: none;
       overflow: scroll;

   }

   #popop article {
       width: 60vw;
       max-height: 90vh;
       margin: 4rem auto;
       background-color: dimgrey;
       border-radius: 15px;


   }

   #popop_indhold {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       padding: 20px;
   }

   #luk {
       display: inline-block;
       float: right;
       padding: 0.2em 0.6em;
       border: none;
       color: white;
       transition: all 0.2s;
       box-shadow: 1px 2px black;
       background-color: #a7a7a7;
   }

   #luk:hover {
       color: white;
       background-color: black;
       border: 0.2em solid black;
       box-shadow: none;
   }

   #popop h2 {
       margin-left: 20px;
       color: white;

   }

   #popop p {
       font-family: sans-serif;
       margin-left: 20px;
       color: white
   }


   #popop img {
       width: 40%;
       margin: 20px;

   }

   span {
       line-height: 1.8;
       padding-right: 100px;
   }

   /*OM OS SIDE*/
   #om_os_side .sectionwrapper_omos {
       display: flex;
   }




   .column,
   #om_os_side img {
       width: 100%;
       justify-content: flex-start;

   }


   #om_os_side h2 {
       font-family: sans-serif;
       font-weight: 600;
       font-size: 30px;
       margin-left: 30px;


   }

   #om_os_side p {
       display: flex;
       font-family: sans-serif;
       font-size: 14px;
       padding-top: 10px;
       padding-right: 80px;
       margin-left: 30px;
       line-height: 2.5;
       margin-top: 10px;

   }

   #stream .sectionwrapper {
       display: flex;
   }


   #stream img {
       width: 100%;
       justify-content: flex-end;

   }

   #stream h2 {
       font-family: sans-serif;
       font-weight: 600;
       font-size: 30px;
       padding-left: 20px;


   }

   #stream p {
       display: flex;
       font-family: sans-serif;
       font-size: 14px;
       padding-top: 10px;
       padding-left: 20px;
       margin-right: 30px;
       line-height: 2.5;
       margin-top: 20px;
   }





   /*MEDIAQUERIES - KNAPPER, SØGEFELT OG LOGO*/
   @media (max-width:1120px) {
       #search {
           display: none;
       }

   }

   @media (max-width:1070px) {
       #logo {

           width: 100px;
           height: auto;
       }
   }

   @media (max-width:600px) {
       button {
           font-size: 11px;
       }
   }


   /*MEDIAQUERIES - POP OP BILLEDE BLIVER STORT I MOBILVIEW*/

   @media (max-width:600px) {

       #popop img {
           width: 100%;
       }

   }




   /*MEDIAQUERY - BURGER MENU*/

   @media (min-width: 768px) {
       #menuknap {
           display: none;
           float: right;


       }

       #menu.hidden {
           transform: translateX(0);


       }

   }

   @media (max-width: 768px) {

       #navbar ul button {
           display: block;
           padding: 10px;
           margin: 0;
           font-size: 12px;
           cursor: pointer;
           text-align: center;
           text-decoration: none;
           outline: none;
           color: black;
           border: none;
           box-shadow: none;
           background-color: white;
           width: 100%;

       }

       button:active {
           box-shadow: none;
           transform: none;
       }


       #menu {
           margin: 0;
           line-height: 1.6;
           transition: transform 0.3s;


       }

       #menu ul {
           height: 10px;
       }

       #menuknap {
           float: right;
           margin-top: 10px;
           margin-right: 10px;
           font-size: 30px;
           color: black;
           position: absolute;
           right: 1vw;
           top: -1vw;



       }

       #navbar a {
           border: none;

       }

       nav {}

       #menu.hidden {
           min-height: 10px;
       }

       .topnav {
           display: none;
       }

       #icon {
           display: none;
       }


       h1 {
           top: 2vw;
           font-size: 35px;

       }

       #luk {
           top: 12vw;
           right: 20vw;
       }

   }

   /*OM OS SIDE MEDIAQUERIES*/

   @media only screen and (max-width: 950px) {

       .sectionwrapper_omos {
           display: flex;
           flex-wrap: wrap;
           flex-grow: 1;
           flex-basis: 450px;
       }



       #om_os_side h2 {
           margin-top: 75px;


       }

       #om_os_side p {
           font-size: 12px;
           padding-top: 10px;
           padding-right: 0px;

       }

       #stream .sectionwrapper {
           flex-wrap: wrap-reverse;
           margin-top: 50px;

       }

       #stream h2 {

           margin-top: 75px;


       }

       #stream p {
           font-size: 12px;
           margin-bottom: 100px;
           margin-top: 20px;
       }
   }


   /*MEDIAQUERIES - GLOBALMENU FORSVINDER NÅR DER IKKE ER PLADS NOK*/

   @media screen and (min-width: 950px) {
       .hidden2 {
           display: block;
       }
   }
