   * {
       margin: 0;


   }

   #logo {
       margin: 15px;
       float: left;
       width: 150px;
       height: auto;
       position: absolute;

   }

   img {
       width: 100%;
       height: auto;

   }


   #menu a:hover {
       color: #bcbcbc
   }

   #menuknap {
       display: inline-block;
   }

   #menu {

       list-style-type: none;
       transition: transform 0.3s;
       transform-origin: top left;
       font-family: 'Open sans', sans-serif;
       font-weight: lighter;
       height: 50px;
       padding: 0;
       margin: 0;
       text-align: center;
       background-color: white;
       padding-top: 15px;
   }


   .hidden {
       transform: translateX(-100%);
       opacity: 0;
   }


   #liste {
       max-width: 1100px;
       margin: 0 auto;
       display: grid;
       grid-gap: 20px;
       padding: 30px;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       cursor: pointer;


   }



   h1 {
       text-align: center;
       font-family: 'Bungee Shade';
       margin: 10px;
       font-size: 45px;



   }


   h2 {
       font-family: 'Montserrat';
       font-size: 16px;
       margin: 10px;


   }

   p {
       font-family: 'Montserrat';
       font-size: 12px;
       line-height: 1.8rem;
       margin: 10px;
   }

   button {
       display: inline-block;
       padding: 10px;
       margin: 10px;
       font-size: 20px;
       cursor: pointer;
       text-align: center;
       text-decoration: none;
       outline: none;
       color: white;
       border: none;
       border-radius: 5px;
       box-shadow: 0 9px #3887ca;
       background-color: #73b7eb;
   }

   button:active {
       box-shadow: 0 5px #666;
       transform: translateY(4px);
   }



   .musik_view {
       padding: 10px;
       border-style: double;
       border-radius: 5px;
   }


   #nav {
       position: absolute;
       left: 13vw;
       top: 6px;
       ;
   }

   /*    STYLE POP OP*/
   #popop {

       position: fixed;
       left: 0;
       top: 0;
       width: 100vw;
       height: 100vh;
       background-color: rgba (0, 0, 0, .8);
       display: none;
       overflow: scroll;

   }

   #popop article {
       width: 60vw;
       min-height: 80vh;
       margin: 4rem auto;
       background-color: cornflowerblue;
       border-radius: 15px;


   }

   #luk {
       position: fixed;
       padding: 1.35em 2.2em;
       border: none;
       color: white;
       transition: all 0.2s;
       box-shadow: 1px 2px black;
       background-color: #dd6363;
       top: 6vw;
       right: 21vw;
   }

   #luk:hover {
       color: white;
       background-color: black;
       border: 0.2em solid black;
       box-shadow: none;
   }

   #popop h2 {
       margin-left: 20px;

   }

   #popop p {
       font-family: 'Montserrat';
       margin-left: 20px;

   }


   #popop img {
       width: 40%;
       margin: 20px;

   }

   span {
       line-height: 1.8;
       padding-right: 100px;
   }

   @media (max-width:600px) {
       button {
           font-size: 11px;



       }
   }


   @media (max-width:600px) {
       #logo {

           width: 100px;
           height: auto;
       }
   }


   /*MEDIAQUERY - OM MIG*/
   @media (max-width: 768px) {
       #om .sectionwrapper {
           flex-wrap: wrap;

       }

       #om img {
           margin-top: 20px;
           width: 90%;
           margin-left: 20px;
       }

       #om h1 {
           font-size: 20px;

       }

       #om h4 {
           font-size: 13px;

       }

       #om p {
           font-size: 12px;
           padding-right: 12px;
           margin-bottom: 30px;

       }
   }


   /*MEDIAQUERY - BURGER MENU*/

   @media (min-width: 768px) {
       #menuknap {
           display: none;
           float: right;


       }

       #menu.hidden {
           transform: translateX(0);
           opacity: 1;
       }

       #menu li {
           display: inline-block;

       }

   }

   @media (max-width: 768px) {

       #navbar ul li {
           display: block;
       }

       #menu {
           height: 50px;
           margin: 0;
           line-height: 1.6;

       }

       #menu ul {
           height: 100px;
       }

       #menuknap {
           float: right;
           margin-top: 10px;
           margin-right: 10px;
           font-size: 30px;
           color: #f2a74c;
       }

       #navbar a {
           border: none;

       }

       #menu.hidden {
           height: 30px;
       }


   }
