   * {
       margin: 0;


   }

   /*LOGO OG BILLEDE*/



   #logo {
       margin: 15px;
       float: left;
       width: 150px;
       height: auto;
       position: absolute;

   }

   img {
       width: 100%;
       height: auto;

   }

   /*SPLASHBILLEDE*/

   #splash {
       margin: 0;
       width: 100vw;
       height: 50vh;
       background-image: url(unsplash.jpg);
       background-size: cover;
       background-position: 43% 57%;

   }

   /*NAVIGATION*/


   #navbar ul li {
       display: inline-block;
       padding-right: 10px;
       padding-left: 10px;
       text-align: center;
       border-left: 0.1px solid black;
   }

   #navbar ul li:first-child {
       border-left: none;
   }

   #navbar ul li a {
       text-decoration: none;
       color: black;
       font-size: 18px;
   }



   #menu a:hover {
       color: #bcbcbc
   }

   #menuknap {
       display: inline-block;
   }

   #menu {

       list-style-type: none;
       transition: transform 0.3s;
       transform-origin: top left;
       font-family: 'Open sans', sans-serif;
       font-weight: lighter;
       height: 110px;
       padding: 0;
       margin: 0;
       text-align: center;
       padding-top: 15px;
       /*       visibility: hidden;*/
   }


   .hidden {
       transform: translateX(-100%);
       opacity: 0;
   }

   /*LISTVIEW*/

   #liste {
       max-width: 1100px;
       margin: 0 auto;
       display: grid;
       grid-gap: 20px;
       padding: 30px;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       cursor: pointer;




   }

   .musik_view {
       padding: 10px;
       /*       border-style: double;*/
       border-radius: 5px;
       background: #ebebeb;
   }


   /*TEKST OG OVERSKRIFTER*/

   h1 {
       text-align: center;
       font-family: 'Bungee Shade';
       margin: 10px;
       font-size: 45px;



   }


   h2 {
       font-family: 'Montserrat';
       font-size: 16px;
       margin: 10px;


   }

   p {
       font-family: 'Montserrat';
       font-size: 12px;
       line-height: 1.8rem;
       margin: 10px;
   }

   /*KNAPPER*/

   button {
       display: inline-block;
       padding: 10px;
       margin: 10px;
       font-size: 20px;
       cursor: pointer;
       text-align: center;
       text-decoration: none;
       outline: none;
       color: white;
       border: none;
       border-radius: 5px;
       box-shadow: 0 9px #3887ca;
       background-color: #73b7eb;
   }

   button:active {
       box-shadow: 0 5px #666;
       transform: translateY(4px);
   }


   /*    STYLE POP OP*/
   #popop {

       position: fixed;
       left: 0;
       top: 0;
       width: 100vw;
       height: 100vh;
       background-color: rgba (0, 0, 0, .8);
       display: none;
       overflow: scroll;

   }

   #popop article {
       width: 60vw;
       min-height: 80vh;
       margin: 4rem auto;
       background-color: cornflowerblue;
       border-radius: 15px;


   }

   #luk {
       position: fixed;
       padding: 1.35em 2.2em;
       border: none;
       color: white;
       transition: all 0.2s;
       box-shadow: 1px 2px black;
       background-color: #dd6363;
       top: 6vw;
       right: 21vw;
   }

   #luk:hover {
       color: white;
       background-color: black;
       border: 0.2em solid black;
       box-shadow: none;
   }

   #popop h2 {
       margin-left: 20px;

   }

   #popop p {
       font-family: 'Montserrat';
       margin-left: 20px;

   }


   #popop img {
       width: 40%;
       margin: 20px;

   }

   span {
       line-height: 1.8;
       padding-right: 100px;
   }

   /*MEDIAQUERIES - KNAPPER OG LOGO*/

   @media (max-width:600px) {
       button {
           font-size: 11px;
           visibility: hidden;



       }
   }


   @media (max-width:600px) {
       #logo {

           width: 100px;
           height: auto;
       }
   }




   /*MEDIAQUERY - BURGER MENU*/

   @media (min-width: 768px) {
       #menuknap {
           display: none;
           float: right;


       }

       #menu.hidden {
           transform: translateX(0);
           opacity: 1;
       }

       #menu li {
           display: inline-block;

       }

   }

   @media (max-width: 768px) {

       #navbar ul li {
           display: block;
       }

       #menu {
           height: 100px;
           margin: 0;
           line-height: 1.6;

       }

       #menu ul {
           height: 100px;
       }

       #menuknap {
           float: right;
           margin-top: 10px;
           margin-right: 10px;
           font-size: 45px;
           color: #73b7eb;
           position: absolute;
           right: 1vw;
           top: -2vw;



       }

       #navbar a {
           border: none;

       }

       #menu.hidden {
           height: 30px;
       }


       h1 {
           position: relative;
           top: 18vw;
       }

   }
