   * {
       margin: 0;


   }

   img {
       width: 100%;
       height: auto;
       border-radius: 15px;

   }

   #liste {
       max-width: 1100px;
       margin: 0 auto;
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));


   }

   h1 {
       text-align: center;
       font-family: 'Montserrat';
       margin: 10px;
       font-size: 25px;
       color: #D7BC8A;



   }


   h2 {
       font-family: 'Montserrat';
       font-size: 16px;
       margin: 10px;


   }

   p {
       font-family: 'Montserrat';
       font-size: 12px;
       line-height: 1.8rem;
       margin: 10px;
   }


   .menu {
       width: 80%;
       border: 0.2px solid #989898;
       padding: 10px;
       margin-bottom: 20px;
       background-color: #eaeaea;
       cursor: pointer;
   }

   button {
       font-family: 'Montserrat';
       padding: 1.35em 2.2em;
       border: 0.2em solid #DA8C2F;
       text-decoration: none;
       font-weight: 300;
       font-size: 11px;
       color: black;
       transition: all 0.2s;
       box-shadow: 1px 2px black;
       border-radius: 5px;
       background-color: #DA8C2F;
       cursor: pointer;
   }

   button:hover {
       color: white;
       background-color: black;
       border: 0.2em solid black;
       box-shadow: none;
   }


   .valgt {
       color: white;
   }

   /*    STYLE POP OP*/
   #popop {
       position: fixed;
       width: 100vw;
       height: 100vh;
       top: 0;
       left: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, .8);
       display: none;
       overflow: scroll;


   }

   #popop article {
       width: 60vw;
       height: 80vh;
       margin: 4rem auto;
       background-color: white;
       border-radius: 15px;


   }

   #luk {
       position: fixed;
       font-family: 'Montserrat';
       padding: 1.35em 2.2em;
       border: 0.2em solid #dd6363;
       text-decoration: none;
       font-weight: 300;
       font-size: 10px;
       color: black;
       transition: all 0.2s;
       box-shadow: 1px 2px black;
       border-radius: 5px;
       background-color: #dd6363;
       top: 5vw;
       right: 21vw;
   }

   #luk:hover {
       color: white;
       background-color: black;
       border: 0.2em solid black;
       box-shadow: none;
   }

   #popop h2 {
       margin-left: 20px;

   }

   #popop p {
       font-family: 'Montserrat';
       margin-left: 20px;

   }


   #popop img {
       width: 60%;
       margin: 20px;

   }

   span {
       line-height: 1.8;
       padding-right: 100px;
   }

   @media (max-width:600px) {
       button {
           padding: 1.35em 2.2em;
           border: 0.2em solid #dd6363;
           font-size: 8px;
           transition: all 0.2s;
           box-shadow: 1px 2px black;
           border-radius: 5px;
           background-color: #dd6363;
       }
   }
